@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE HTML>

<html>
	<head>
		<title>Halcyonic by HTML5 UP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
<body style="background-image:url(https://wallpaperdj.us/data/media/6/mental-preparation-for-workout.jpg)">
	



    @*part1*@
<div class="row" style="margin-top: 25rem;">
    <div class="col-1"></div>

    <div class="col-4">
        <h2 class="text-white">
            1 месяц фитнеса в подарок
        </h2 >
            <h4 class="text-white">приведи друга или коллегу - получи месяц фитнеса бесплатно в подарок к годовой карте клиента</h4>
    </div>

    <div class="col-3"></div>

    <div class="col-3  bg-dark" style="border-radius: 40px">
        <h3 class="m-2 text-gold">Запис на бесплатное пробное занятие</h3>
        <button class="m-2 btn bg-gold-gr  ">Записатся</button>
    </div>
    <div class="col-1"></div>

</div>



@*part2*@

    <div class="w-100 bg-dark" style="height: 5rem;margin-top: 15rem;"></div>
<div class="row bg-dark w-100" style="border: solid #222 10px">

    <div class="col-2">
        <div class="card border-gradient1" style="width: 18rem;">
            <img src="https://www.clubmango.ru/upload/uf/4bf/gymnast.png" style="filter: grayscale(100%)" class="card-img-top" alt="Sunset Over the Sea"/>
            <div class="card-body" style="height:4rem">
                <p class="card-text">Гимнастика.</p>
            </div>
        </div>
    </div>

    <div class="col-2">
        <div class="card border-gradient1" style="width: 18rem;">
            <img src="https://www.clubmango.ru/upload/uf/19f/gruppovye.jpg" style="filter: grayscale(100%)" class="card-img-top" alt="Sunset Over the Sea"/>
            <div class="card-body" style="height:4rem">
                <p class="card-text">Групповые занятия.</p>
            </div>
        </div>
    </div>

    <div class="col-2">
        <div class="card border-gradient1" style="width: 18rem;">
            <img src="https://www.clubmango.ru/upload/uf/b78/7.jpg" style="filter: grayscale(100%)" class="card-img-top" alt="Sunset Over the Sea"/>
            <div class="card-body" style="height:4rem">
                <p class="card-text">Персональные тренировки.</p>
            </div>
        </div>
    </div>

    <div class="col-2">
        <div class="card border-gradient1" style="width: 18rem;">
            <img src="https://www.clubmango.ru/upload/resize_cache/uf/a92/292_292_2/trenazhernij_zal_main.jpg" style="filter: grayscale(100%)" class="card-img-top" alt="Sunset Over the Sea"/>
            <div class="card-body" style="height:4rem">
                <p class="card-text">Тренажерный зал.</p>
            </div>
        </div>
    </div>

    <div class="col-2">
        <div class="card border-gradient1" style="width: 18rem;">
            <img src="https://www.clubmango.ru/upload/uf/d67/test.jpg" class="card-img-top" style="filter: grayscale(100%)" alt="Sunset Over the Sea"/>
            <div class="card-body" style="height:4rem">
                <p class="card-text">Функциональное тестирование мышц.</p>
            </div>
        </div>
    </div>

    <div class="col-2">
        <div class="card border-gradient1" style="width: 18rem;">
            <img src="https://www.clubmango.ru/upload/uf/4bf/gymnast.png" style="filter: grayscale(100%)" class="card-img-top" alt="Sunset Over the Sea"/>
            <div class="card-body" style="height:4rem">
                <p class="card-text">Йога.</p>
            </div>
        </div>
    </div>
</div>

@*part3*@
    <div class="w-100 bg-dark" style="height: 5rem;"></div>
<div class="w-100 bg-white ">
    
    <div class="row">

    
        <div class="col-5">
            <img src="https://sportfamily.by/storage/gallery/place/4/thumb/TTjTlLb7Cuf3G1ZynLEPIBXBnJtN8wSid0Sutb6w.jpeg" style="filter: grayscale(100%)" />
        </div>
    
        <div class="col-7">
                <p>
                    <h3>Преимущества занятий на тренажерах в зале</h3>
                И пусть «заядлые» спортсмены твердят о том, что тренажеры не способны развить мускулатуру так, как тренировки со свободными весами, все же, занятия на тренажерах имеют массу плюсов! Например, блочные или рычажные тренажеры, пусть и лишают возможности подключать мышцы-стабилизаторы, тем не менее, действительно снижают риск получения травмы. Это возможно благодаря конструкции, которая позволяет максимально зафиксировать тело во время выполнения упражнения. Это точно является огромным достоинством и плюсом тренажеров. А также, ими удобно пользоваться.

                <h3> Виды тренажеров</h3>
                Разнообразие тренажеров в зале делится на кардио и силовые тренажеры. К кардиотренажерам относятся конструкции, повышающие выносливость, например, орбитреки, беговые дорожки и велотренажеры. В тренажерном зале, зачастую, для них выделяют отдельное место, которое называется кардио зоной. Остальные тренажеры называют силовыми. С их помощью спортсмен развивает силу, увеличивает массу и улучшает тонус мышц.</p>
        </div>
        
    </div>
    </div>

@*part4*@

<div class="W-100 bg-white" style="height: 15rem;"></div>
<div class="bg-white">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <form class="p-2 border-gradient1">
                <div class="input-group">
                    <label class="form-label">Email</label>
                    <input class="form-control"/>
                </div>
                <hr/>

                <div class="input-group">
                    <label class="form-label">Ваше Имя</label>
                    
                    <input class="form-control"/>
                </div>
                <hr/>

                <div class="input-group">
                    <label class="form-label">Телефон для связи</label>
                    <input class="form-control"/>
                </div>
                <hr/>


                <button class="text-center bg-gold-gr btn" type="submit">Записатся</button>

                    
            </form>

        </div>
            <div class="col-4"></div>
    </div>

   
</div>
    <div class="W-100 bg-white" style="height: 5rem;"></div>


<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>